/*Css antiguo para usar de referencia con scss no borrar hasta haber terminado todo*/
@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/abril-fatface-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/abril-fatface-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/abril-fatface-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/abril-fatface-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/abril-fatface-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/abril-fatface-v19-latin-regular.svg#AbrilFatface') format('svg'); /* Legacy iOS */
}
#check, #bars{
    display: none;
}
#bars{
    cursor: pointer;
}
#articulo{
    grid-area: articulos;
}
#texto-compra{
    grid-area: compra;
}
#nikeicon:hover{
    animation: mover 1s;
    animation-iteration-count: 1;
}

#foto-destacado{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

body{
    font-family: 'Abril Fatface';
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}
/* Barra de navegación*/
header{
    font-size: 20px;
    background-color: #f1f1f1;
}
.navbarr{
    list-style-type: none;
    padding: 10px;
    margin: 20px;
    overflow: hidden;

}
.navbarr li{
    display: inline;
    cursor: pointer;
}

.navbarr img{
    max-width: 100px;
}

.navbarr input{
    margin: 12px;
}
.navbarr li:nth-child(5){
    margin: 0px 0px 10px 20px;
    float:right; 
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdownn:hover {
    color: rgb(21, 20, 20);
    text-decoration: underline;
}

li.dropdownn {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdownn:hover .dropdown-content {
    display: block;
}

.searchbar{
    padding: 8px;
    height: 100%;
    background-color: #ccc;
    border-radius: 20px;
    border: none;

}
/* Footer */ 
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.footer ul{
    list-style-type: none;
}

.footer li{
    display: inline-block;
    margin: 5px;
}

/*Inicio descuentos/index*/

.caja{
    background-color: beige;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    width: 300px;
    height: 400px;
    margin: 10px;
    line-height: 400px;
    text-align: center;
    box-shadow: 10px;
    border-radius: 20px;
}

.caja img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: block;
}


.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.info-foto{
    position: relative;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 20px;
}

.texto-foto{
    color: black;
    font-weight: bold;
    font-size: 15px;    
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.caja:hover .info-foto{
    height: 50%;
}
.boton-destacado{
    text-decoration: none;
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 15px;
}
.boton-destacado:hover{
    background-color: black;
    color: #f1f1f1;
}
/*Fin descuentos*/
.nuevo-img img{
    max-width: 100%;
    width: 80%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}

/*Fin index*/

/*Inicio contacto*/
.inputs {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

.submit{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover{
    background-color: #45a049;
}

.reset{
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reset:hover{
    background-color: #b80505;
}

legend{
    text-align: center;
    border: 1px solid black;
}
.contact{
    text-align: center;
    margin-right: 10px;
}
.contact a{
    text-decoration: none;
    color: black; 
}
.contact i{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    height: 80%;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
/*Fin Contacto*/

/*Inicio pegasus39*/
.compra{
    display: grid;
    grid-template-areas: "articulo compra"
                         "articulo compra";
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr;
    font-size: 25px;
    height: 500px;
}
.compra button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #d1d1d1;;
}
.compra button:hover{
    background-color: black;
    color: white;
}
.compra img{
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    width: 40%;
}

.compra p, button{
    margin: 40px 40px 40px 40px;
    padding: 40px 40px 40px 40px;
}
.fotos{  
    transform: translateX(130%);
    width: 300px;
    height: 500px;
}
.fotos video{
    height: 50%;
}
.fotos img{
    max-width: 100%;
    width: 80%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}
.descripcion{
    font-size: 15px;
    margin: 0 !important;
}
.texto-compra{
    height: 30%;
}
.compra > .texto-compra div{
    margin-top: 20px;
}
/*Fin pegasus39*/
/*Inicio privacidad*/
.parrafo{
    text-align: justify;
    margin: 10px 50px 0px 50px;
    padding: 10px 50px 0px 50px;
    color: rgb(35, 31, 31);
    font-size: 20px;
}
/*Fin privacidad*/

/*Animacion*/
@keyframes mover{
    0%{
        transform: rotate(0deg) scale(1);
        opacity: 100%;
    }
    10%{
        transform: rotate(5deg) scale(1.1);
        opacity: 90%;
    }
    20%{
        transform: rotate(10deg) scale(1.2);
        opacity: 80%;
    }
    30%{
        transform: rotate(5deg) scale(1.1);
        opacity: 70%;
    }
    40%{
        transform: rotate(0deg) scale(1);
        opacity: 60%;
    }
    50%{
        transform: rotate(-5deg) scale(1.1);
        opacity: 50%;
    }
    60%{
        transform: rotate(-10deg) scale(1.2);
        opacity: 40%;
    }
    70%{
        transform: rotate(-5deg) scale(1.1);
        opacity: 30%;
    }
    80%{
        transform: rotate(0deg) scale(1);
        opacity: 20%;
    }
    90%{
        transform: rotate(5deg) scale(1.1);
        opacity: 10%;
    }
    100%{
        transform: rotate(0deg) scale(1);
        opacity: 0%;
    }
}


/*Inicio responsive*/
@media screen and (max-width: 1200px){
    .nuevo-text{
        transform: translateY(-1000%);
    }
}

@media screen and (max-width: 768px){ 
    /*Inicio responsive página index*/
    #bars{
        display:block;
        float: right;
    }
    #check:checked ~ .navbarr{
        display: block;
    }
    .nuevo-img{
        width: 100%;
        height: 300px;
        margin: 0px 20px 0px 20px;
    }   
    .footer ul{
        transform: translateX(-5%);
    }
    .navbarr{
        position: absolute;
        width: 100%;
        height: 40%;
        left: 0;
        top: 0;
        text-align: center;
        background-color: #f1f1f1;
        z-index: 2;
        display: none; 
    }
    .navbarr li a{
        display: block;
        padding: 10px 15px;
    }
    .navbarr li:last-child{
        display: none;
    }
    /*Inicio responsive página contacto*/
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100%;
    }
    .form{
        margin-top: 30px;
        transform: translateX(8%);
    }
    /*Inicio responsive página privacidad*/
    .parrafo{
        font-size: 15px;
        margin: 10px 10px 0px 10px;
        padding: 10px 10px 0px 10px;
    }
    /*Inicio responsive página pegasus39*/
    .fotos{
        transform: translateX(-10%);
    }
    .fotos video{
        display: none;
    }
    .compra{
        transform: translateX(30%);
        font-size: 20px;
    }
    
}
@media screen and (max-width:320px) {
    
    .nuevo-text button{
        display: none;
    }
    .nuevo-text{
        transform: translate(-80%, -1050%);
        font-size: 25px;
    }
    .footer{
        font-size: 11px;
    }
    .compra{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}