@import "mixin";
@media screen and (max-width: 1200px) and (min-width:767px){
    /*Inicio responsive página pegasus39*/
     .fotos{
         img{
             @include translateX(-200%);
             
         }
         video{
             @include translateX(-230%);
             height: 50%;
         }
     }
     .compra{
         @include translateX(30%);
         font-size: 20px;
        .fotos{
            @include translateX(-500%);
            img{
                @include translateX(600%);
            }
            video{
                @include translateX(730%);
            }
        }
     }
 }
 @media screen and (max-width: 768px) and (min-width: 600px){
     // Inicio responsive página index  
     .nuevo-img{
         height: 400px;
     }
 
     /*Inicio responsive página privacidad*/
     .parrafo{
         font-size: 20px;
         margin: 10px 10px 0px 10px;
         padding: 10px 10px 0px 10px;
     }
     /*Inicio responsive página pegasus39*/

     .compra{
         @include translateX(30%);
         font-size: 20px;
         .texto-compra{
             @include translateX(-40%);
         }
         .fotos{
            @include translateX(-100%);
            img{
                @include translateX(100%);
            }
            video{
                @include translateX(130%);
                height: 50%;
            }
        }
     }
         
 }
 @media screen and (max-width: 600px) and (min-width: 480px){
 
     .active{
         background-color: transparent;
     }
 
     // Inicio responsive página index  
     .nuevo-img{
         height: 400px;
     }
     
     .compra{
        grid-template-areas: 'articulo'
        'compra';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
     }
     .compra{
        .texto-compra{
            font-size: 20px;
            transform: translate(40% ,-250%);
            form{
                button{
                    margin: 10px;
                    padding: 15px;
                }
            }
        }
        .fotos{
            @include translateX(-300%);
            img{
                @include translateX(450%);
            }
            video{
                 display: none;
             }
         }
     }

     //Contacto
     .grid{
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
         width: 100%;
     }
     .contact{
         margin-left: 50px;
     }
     .form{
         margin-top: 30px;
         transform: translateX(8%);
     }
     //Footer
     .footer{
         flex-direction: column;
         ul{ 
             @include translateX(-20%);
             li{
                 padding: 20px 0px 0px 20px;     
                 display: block;
             }
         }
     }
     .parrafo{
        margin: 15px;
        padding: 0;
    }
 }
 @media screen and (max-width: 480px) and (min-width: 320px){
    .active{
        background-color: transparent;
    } 
    // Inicio responsive página index  
     .nuevo-img{
         height: 300px;
     }
     //pegasus39
     .compra{
         grid-template-areas: 'articulo'
                              'compra';
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
         width: 100%;
         .fotos{
            @include translateX(-300%);
            img{
                @include translateX(400%);
            }
             video{
                 display: none;
             }
         }
     }
     .texto-compra{
         font-size: 20px;
         transform: translate(20% ,-270%);
         form{
             button{
                 @include translateX(50%);
                 margin: 10px;
                 padding: 15px;
             }
         }
     }

     //Contacto
     .grid{
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
         width: 100%;
     }
     .contact{
         margin-left: 30px;
     }
     .form{
         margin-top: 30px;
         @include translateX(8%);
     }
     .parrafo{
        h1{
            font-size: 30px;
        }
        margin: 15px;
        padding: 0;
    }
     //Footer
     .footer{
         flex-direction: column;
         ul{ 
             @include translateX(-20%);
             li{
                 padding: 20px 0px 0px 20px;     
                 display: block;
             }
         }
     }
 }
 @media screen and (max-width: 320px){
     .parrafo{
         h1{
             font-size: 30px;
         }
         margin: 15px;
         padding: 0;
     }
     .active{
         background-color: transparent;
     }
     // Inicio responsive página index  
     .nuevo-img{
         height: 200px;
     }
    //Contacto
     .grid{
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
         width: 100%;
     }
     .contact{
         margin-left: 30px;
     }
     .form{
         margin-top: 30px;
         @include translateX(8%);
     }
     //Footer
     .footer{
         flex-direction: column;
         ul{ 
             @include translateX(-20%);
             li{
                 padding: 20px 0px 0px 20px;     
                 display: block;
             }
         }
     }
     .compra{
        .texto-compra{
            font-size: 16px;
            @include translate(-150% ,200%);
            form{
                button{
                    margin: 10px;
                    padding: 15px;
                    @include translateX(-10%)
                }
            }
        }
        .fotos{
           @include translateX(-400%);
           img{
               @include translateX(510%);
           }
            video{
                display: none;
            }
        }
   
     }

 }